.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;

    font-size: 12px;

  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .timestamp {
    border-radius: 2.867px;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    padding: 0px 2.867px;
    align-items: flex-end;
    gap: 7.168px;
    color: #A6A6A6;

    /* Machine Text */
    font-family: Space Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}