.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;

    opacity: 0;
    font-size: 12px;
    transition: 300ms opacity;

  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
  }

  .timestamp {
    border-radius: 2.867px;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    padding: 0px 2.867px;
    align-items: flex-end;
    gap: 7.168px;
    color: #A6A6A6;

    /* Machine Text */
    font-family: Space Grotesk;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.buffering-icon::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 2px #505050;
  border-bottom-color: #A4A4A4;
  border-radius: 50%;
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}