.modal-background {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */ 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    backdrop-filter: blur(2px);

    color: #A4A4A4;
    font-family: Space Grotesk;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: opacity 200ms ease;

    visibility: visible;
}

.modal-background.disabled {
    opacity: 0;
    visibility: hidden;
}


/* Modal Content */
.popup-modal-content {
  background-color: #41454daa;
  margin: auto;
  padding: 20px 100px;
  height: 80%;
  width: 60%;
  border-radius: 12px;
  position: relative;
  overflow: auto;
  transform: scale(100%);
  transition: 200ms;
  backdrop-filter: blur(10px);
}
.popup-modal-content.disabled {
    transform: scale(0%); 
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: sticky;
    right: 0px;
    top: 0px;
    transform: translateX(80px);
}
  
.close:hover,
.close:focus {
    color: #888;
    text-decoration: none;
    cursor: pointer;
}

table {
    font-family: IBM Plex Mono, Space Grotesk;
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px;
}
  
th, td {
    text-align: center;
    padding: 8px;
    width: min-content;
    height: 30px;
    max-width: 180px;
    text-overflow: ellipsis;
    overflow-x: clip;
}

tr {
    position: relative;
    --status-color: #0fa355;
    align-items: center;
}

tbody tr::before {
    position: absolute;
    content: "";
    width: 4px;
    border-radius: 5px 0px 0px 5px;
    background-color: var(--status-color);
    height: 90%;
    left: -4px;
    top: 5%;
}

thead tr::before {
    content: "";
    position: absolute;
}

tr:nth-child(even) {
    background-color: #2e3139;
}

tr:nth-child(odd) {
    background-color: #363a42;
}

.machine-form {
  font-family: Space Grotesk;
}

.machine-form input {
    font-family: inherit;
}

.machine-form input[type=text] {
    width: min-content;
}

.machine-form input[type=submit] {
    padding: 2px 8px;
    border-radius: 6px;
    background: #184268;
    color: #A4A4A4;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-width: 0px;
    opacity: 1;
    transition: 200ms;
    width: fit-content;
}

.machine-form input[type=submit]:hover {
    cursor: pointer;
    background-color: #235077;
}

.popup-modal-content::-webkit-scrollbar {
    width: 6px;
}

.popup-modal-content::-webkit-scrollbar-track {
    /* background: #27292e; */
}

.popup-modal-content::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 6px;
    /* border: 3px solid var(--scrollbarBG); */
}