@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono");
@import url("https://fonts.googleapis.com/css?family=Space+Grotesk");


body, #root {
  background: #25272E; 
  min-width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  font-family: Space Grotesk, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* -webkit-text-size-adjust: 100%; */
}


.app { 
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  gap: 1.875rem;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 6px;
  /* border: 3px solid var(--scrollbarBG); */
}

button { 
  border-radius: 6px;
  color: #A4A4A4;
  font-family: Space Grotesk;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-width: 0px;
  opacity: 1;
  transition: 200ms;
  padding: 0px;
}

button:focus {
  outline: 3px;
}

button:hover {
  outline: 0px;
  cursor: pointer;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

